.header {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  position: sticky;
}

.header__icon {
  position: relative;
  left: -50px;
  width: 30px;
  height: 30px;
}

.header--section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  left: 50px;
}

.header--section__items {
  font-size: 13px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  color: #4e6e7e;
  opacity: 1;
  /* cursor: pointer; */
}

.header--section__productItem {
  font-weight: 600;
}
.header--section__productItem::before {
  position: relative;
  top: 3px;
  content: "\2022";
  color: #219ebc;
  font-size: 2em; /* Adjust the font size as desired */
  line-height: 0.5; /*Adjust the line height as desired */
  margin-right: 3px;
}

.header--line {
  text-align: center;
  width: 95%;
  color: #9aacb5;
}

.footer--line {
  width: 85%;
}

.header--btn__accountCreate {
  position: relative;
  left: 70px;
  display: table-cell;
  color: #219ebc;
  border: 1px solid #219ebc;
  opacity: 1;
  font-size: 13px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  width: 130px;
  height: 38px;
  border-radius: 4px;
  padding: auto;
}
.header--btn__accountCreate:hover {
  color: white;
  background-color: #219ebc;
  border-color: #219ebc;
}

input[type="checkbox"]:checked {
  accent-color: #219ebc; /* Set your desired background color */
}

#main--checkbox__filter {
  color: #b3c1c8;
  opacity: 1;
  font-size: 11px;
  line-height: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

#main--checkbox__phone {
  opacity: 0.6;
}

.main--checkbox__selected {
  color: #9aacb5;
  opacity: 1;
  font-size: 13px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  padding-left: 7px;
  padding-bottom: 7px;
}

input[type="checkbox"]:checked + .main--checkbox__selected {
  font-weight: 600;
}

.main--checkbox__disabled {
  color: #9aacb5;
  font-size: 13px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  padding-left: 7px;
  padding-bottom: 7px;
}
.main--section {
  display: grid;
  grid-template-columns: 25vw 3fr;
  grid-template-rows: auto;
}

.main--section__subSection1 {
  position: sticky;
}

#main--section__subSection2 {
 padding-left: 20px;
 padding-right: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.full_carde {
  /* border: 1px solid black; */
  border-radius: 5px;
  width: 270px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.full_carde img {
  max-width: 100%;
  height: 220px;
  padding: 40px 70px;
  background-color: antiquewhite;
  border-radius: 4px;
}

.main--section__productDetailsGrid {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr;
  row-gap: 5px;
  grid-template-rows: auto auto;
}

.main--para__productTitle {
  font: normal normal 600 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #023047;
  opacity: 1;
  margin-bottom: 10px;
}

.main--para__productPrice {
  font: normal normal 500 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #023047;
  opacity: 1;
  margin-bottom: 10px;
}

.main--para__productRating {
  font: normal normal normal 11px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  opacity: 1;
}
.main--section__productPriceAndRating {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s linear;
}

.main--section__productPriceAndRating.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.main--section__productBuyNow {
  display: none;
  text-align: right;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.main--section__productBuyNow.hovered {
  opacity: 1;
  display: block;
  visibility: visible;
}

.main--Button__buyNow {
  background-color: #219ebc;
  border-radius: 4px;
  opacity: 1;
  font: normal normal 600 13px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main--Button__buyNow:hover,
.main--Button__buyNow:active,
.main--Button__buyNow:focus {
  background-color: #219ebc !important;
  color: #ffffff !important;
}
.main--para__productFeature {
  font: normal normal normal 11px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s linear;
}

.main--para__productFeature.hidden {
  visibility: hidden;
  opacity: 0;
}

.main--Button__productViewProduct {
  visibility: hidden;
  opacity: 0;
  font: normal normal 500 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #219ebc;
  opacity: 1;
  display: none;
  transition: all 0.5s linear;
}

.main--Button__productViewProduct.hovered {
  display: block;
  visibility: visible;
  opacity: 1;
}

#main--checkbox__phone:checked + #main--checkbox__selected {
  color: #219ebc;
}

.footer--para__endOfProduct {
  font: normal normal 500 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ccd6da;
}

.footer--section {
  display: flex;
  flex-wrap: wrap;
  font: normal normal 400 11px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  text-transform: capitalize;
  justify-content: space-between;
  opacity: 1;
}

.footer--para__left {
  /* text-align: left; */
  justify-self: left;

}

.footer--para__right {
  display: inline;
  justify-self: right;
  /* text-align: right; */
}

.createAccount--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.createAccount--section__subSection1 {
  background-color: #f9fbfe;
  height: 100vh;
  overflow: hidden;
}

.createAccount--image__iconImage {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 50px;
}

.createAccount--image__teamImage {
  position: relative;
  top: -40px;
  left: -50px;
  height: 110vh;
  width: 90%;
  /* object-fit:cover; */
  object-position: 20% -50%;
  /* object-position: 0% ; */
}

#modalButton{
  /* display: none; */
}