.header {
  display: grid;
  justify-content: space-around;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  align-items: center;
  position: sticky;
}

.header__icon {
  position: relative;
  left: -50px;
  width: 30px;
  height: 30px;
}

.header--section {
  display: flex;
  flex-direction: row;
  gap: 30px;
  position: relative;
  left: 50px;
}

.header--section__items {
  font-size: 13px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  color: #4e6e7e;
  opacity: 1;
  /* cursor: pointer; */
}

.header--section__productItem {
  font-weight: 600;
}
.header--section__productItem::before {
  position: relative;
  top: 3px;
  content: "\2022";
  color: #219ebc;
  font-size: 2em; /* Adjust the font size as desired */
  line-height: 0.5; /*Adjust the line height as desired */
  margin-right: 3px;
}

.header--line {
  text-align: center;
  width: 95%;
  color: #9aacb5;
}

.footer--line {
  width: 85%;
}

.header--btn__accountCreate {
  position: relative;
  left: 70px;
  display: table-cell;
  color: #219ebc;
  border: 1px solid #219ebc;
  opacity: 1;
  font-size: 13px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  width: 130px;
  height: 38px;
  border-radius: 4px;
  padding: auto;
}
.header--btn__accountCreate:hover {
  color: white;
  background-color: #219ebc;
  border-color: #219ebc;
}

input[type="checkbox"]:checked {
  accent-color: #219ebc; /* Set your desired background color */
}

#main--checkbox__filter {
  color: #b3c1c8;
  opacity: 1;
  font-size: 11px;
  line-height: 15px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  margin-bottom: 10px;
}

#main--checkbox__phone {
  opacity: 0.6;
}

.main--checkbox__selected {
  color: #9aacb5;
  opacity: 1;
  font-size: 13px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  padding-left: 7px;
  padding-bottom: 7px;
}

input[type="checkbox"]:checked + .main--checkbox__selected {
  font-weight: 600;
}

.main--checkbox__disabled {
  color: #9aacb5;
  font-size: 13px;
  line-height: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0px;
  padding-left: 7px;
  padding-bottom: 7px;
}
.main--section {
  display: grid;
  grid-template-columns: 25vw 3fr;
  grid-template-rows: auto;
}

.main--section__subSection1 {
  position: sticky;
}

#main--section__subSection2 {
  padding-left: 20px;
  padding-right: 60px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.full_carde {
  /* border: 1px solid black; */
  border-radius: 5px;
  width: 270px;
  height: auto;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.full_carde img {
  max-width: 100%;
  height: 220px;
  padding: 40px 70px;
  background-color: antiquewhite;
  border-radius: 4px;
}

.main--section__productDetailsGrid {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr;
  row-gap: 5px;
  grid-template-rows: auto auto;
}

.main--para__productTitle {
  font: normal normal 600 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #023047;
  opacity: 1;
  margin-bottom: 10px;
}

.main--para__productPrice {
  font: normal normal 500 16px/22px Montserrat;
  letter-spacing: 0px;
  color: #023047;
  opacity: 1;
  margin-bottom: 10px;
}

.main--para__productRating {
  font: normal normal normal 11px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  opacity: 1;
}
.main--section__productPriceAndRating {
  display: block;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s linear;
}

.main--section__productPriceAndRating.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

.main--section__productBuyNow {
  display: none;
  text-align: right;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.main--section__productBuyNow.hovered {
  opacity: 1;
  display: block;
  visibility: visible;
}

.main--Button__buyNow {
  background-color: #219ebc;
  border-radius: 4px;
  opacity: 1;
  font: normal normal 600 13px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.main--Button__buyNow:hover,
.main--Button__buyNow:active,
.main--Button__buyNow:focus {
  background-color: #219ebc !important;
  color: #ffffff !important;
}
.main--para__productFeature {
  font: normal normal normal 11px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s linear;
}

.main--para__productFeature.hidden {
  visibility: hidden;
  opacity: 0;
}

.main--Button__productViewProduct {
  visibility: hidden;
  opacity: 0;
  font: normal normal 500 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #219ebc;
  opacity: 1;
  display: none;
  transition: all 0.5s linear;
}

.main--Button__productViewProduct.hovered {
  display: block;
  visibility: visible;
  opacity: 1;
}

#main--checkbox__phone:checked + #main--checkbox__selected {
  color: #219ebc;
}

.footer--para__endOfProduct {
  font: normal normal 500 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ccd6da;
}

.footer--section {
  display: flex;
  flex-wrap: wrap;
  font: normal normal 400 11px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  text-transform: capitalize;
  justify-content: space-between;
  opacity: 1;
}

.footer--para__left {
  /* text-align: left; */
  justify-self: left;
}

.footer--para__right {
  display: inline;
  justify-self: right;
  /* text-align: right; */
}

.createAccount--section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.createAccount--section__subSection1 {
  background-color: #f9fbfe;
  height: 100vh;
  overflow: hidden;
}

.createAccount--image__iconImage {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 50px;
}

.createAccount--image__teamImage {
  position: relative;
  top: -40px;
  left: -50px;
  height: 110vh;
  width: 90%;
  /* object-fit:cover; */
  object-position: 20% -50%;
  /* object-position: 0% ; */
}

.modalCenterAligned > div {
  align-items: center;
}

.modalCenterAligned > div > div > div {
  align-items: center;
}

.modal--button__dropdown {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #e9ecef !important;
}

.modal--button__dropdown:link,
.modal--button__dropdown:hover,
.modal--button__dropdown:focus-visible,
.modal--button__dropdown:active,
.modal--button__dropdown:focus {
  background-color: #fff !important;
  border: 1px solid #e9ecef !important;
  color: green;
}

.modal--heading {
  font: normal normal 700 18px/24px Montserrat;
  letter-spacing: 0px;
  color: #023047;
  opacity: 1;
}

.modal--image {
  width: 31px;
  height: 38px;
}

.modal--para__title {
  font: normal normal 700 16px/19px Montserrat;
  letter-spacing: 0px;
  color: #023047;
}

.modal--para__serialNo {
  font: normal normal 400 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  opacity: 1;
}

.modal--para__specification,
.modal--para__quantity {
  font: normal normal 500 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
}

.modal--para__price {
  font: normal normal 700 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #023047;
}

.modal--para__addAddress {
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
}
.modal--para__saveAddress {
  font: normal normal bold 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #219ebc !important;
}

.modal--label__name {
  font: normal normal 400 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #4e6e7e;
}

.modal--label__contactNumber {
  font: normal normal 400 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #4e6e7e;
}

.modal--label__address {
  font: normal normal 400 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #4e6e7e;
}

.modal--label__city {
  font: normal normal 400 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #4e6e7e;
}

.modal--label__country {
  font: normal normal 400 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #4e6e7e;
}

.modal--input__name {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #023047;
}

.modal--input__name::placeholder {
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8 !important;
}

.modal--input__address {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #023047;
}

.modal--input__address::placeholder {
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8 !important;
}

.modal--input__phone {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e9ecef;
  border-radius: 4px !important;
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  padding-left: 100px;
  color: #023047;
}

.modal--input__phone::placeholder {
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8 !important;
}

.modal--input__city {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  font: normal normal 400 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8 !important;
}

.modal--input__country {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e9ecef;
  border-radius: 4px;
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8 !important;
}

.dropdown-item {
  font: normal normal 500 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #4e6e7e;
}

.input-group-text {
  font: normal normal normal 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #4e6e7e;
  opacity: 1;
  background-color: transparent;
  height: fit-content;
  background: transparent 0% 0% no-repeat padding-box;
  /* border: 1px solid #e9ecef;
  border-right: none;
  border-radius: 4px; */
  border: none;
  position: absolute;
  z-index: 100;
  left: 10px;
}

#selectedCity.custom-style {
  color: #4e6e7e !important;
  font-weight: 500 !important;
}

#selectedCountry.custom-style {
  color: #4e6e7e !important;
  font-weight: 500 !important;
}

.modal--para__summary {
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
  text-transform: uppercase;
  opacity: 1;
}

.modal__summaryItems {
  font: normal normal 500 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
}

.modal__summaryTotal {
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #023047;
}

.modal__summaryItemsValue {
  font: normal normal 500 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #023047;
}

.modal__summaryTotalValue {
  font: normal normal 600 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #023047;
}

.modal--button__payNow {
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff;
  background: #219ebc 0% 0% no-repeat padding-box;
  border-radius: 4px;
}

.modal--button__payNow:hover,
.modal--button__payNow:active,
.modal--button__payNow:focus,
.modal--button__payNow:focus-visible,
.modal--button__payNow:link {
  font: normal normal 600 14px/18px Montserrat;
  letter-spacing: 0px;
  color: #ffffff !important;
  background: #219ebc 0% 0% no-repeat padding-box !important;
  border-radius: 4px;
}

.modal--section__outline {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e9ecef;
  border-radius: 4px;
}

/* .modal--section__customer{
  
} */

.modal--section__customerNotEditable {
  display: none;
}

/* .modal--para__showName,
.modal--para__showPhone, */
.modal--button__edit,
.modal--section__showNameAndPhone,
.modal--para__showAddress {
  flex: 0 0 auto;
  overflow-wrap: break-word;
}

.modal--para__showName{
font: normal normal 700 16px/19px Montserrat;
letter-spacing: 0px;
color: #023047;
text-transform: capitalize;
}

.modal--para__showPhone {
font: normal normal normal 12px/15px Montserrat;
letter-spacing: 0px;
color: #B3C1C8;
}

.modal--para__showName,
.modal--para__showPhone {
  justify-content: left;
  padding-left: 10px;
}

.modal--section__showNameAndPhone {
  align-self: center;
}

.modal--para__showAddress {
  font: normal normal 500 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #b3c1c8;
}
.modal--button__edit {
  align-self: center;
  display: flex;
  justify-content: space-around;
  font: normal normal 700 12px/15px Montserrat;
  letter-spacing: 0px;
  color: #fb8500;
  cursor: pointer;
}

.viewProductCarousel{
  width: 100% !important;
  height: 150px !important;
}

.carouselProductItem{
  width : 120px !important;
  height : 150px !important;
}